<h1>Anagram or Antigram?</h1>
<h3>Enter two words to compare them and find out if they are either an anagram or antigram. If they're anagrams, it'll also tell you if they are palindromes!</h3>
<form class="" action="/result" method="get">
  <div class="form-group">
    <label for="word1">Enter first word:</label>
    <input id="word1" name="word1" class="form-control" type="number">
    <label for="word2">Enter second word:</label>
    <input id="word2" name="word2" class="form-control" type="number">
  </div>
  <button type="submit" class="btn btn-info">Compare!</button>
</form>
